*{
	margin: 0;
	padding: 0;
}

body {
	background: #ededed;;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

.main {
	width: 960px;
	margin: 30px auto;
}

.header {
	height:136px;
	margin-bottom: 20px;
	border-top: 4px solid darkred;
	border-radius: 5px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .5);
}

.midSection {
	width: 100%;
	height: 1500px;
	background :#FFFFFF;
	padding: 10px 0 0 0;
}

.footer {
	width: 100%;
	height: 50px;
	background: blue;
}

/**************************************************/
.htop{
	width: 100%;
	height: 93px;
	background: linear-gradient(to bottom, #eeb649 0%,#ff9900 100%);
	
}
.img img{
	margin-top: 8%;
}
.searchBoxlilk{
	width: 95.096%;
	height: 36px;
	background: white;
	margin-top: 6%;
	float: left;
	border:1px solid darkgray;
}
.searchBox input[type="search"]{
	padding: 10px 133px 5px 10px;
	border:none;
	float: left;
	border-right:1px solid gray;
}
.buttonK{
	background: linear-gradient(to bottom, #eeb649 0%,#ff9900 100%);
	color: #975C25;
	border:1px solid #975C25;
	float: left;
	margin-top: .5px;
	margin-left: .5px;
}
.buttonK:hover{
background: linear-gradient(to bottom, #eeb649 0%,#ff9900 100%);
}
.searchBox select{
	padding: 8.8px 33px;
	border:none;
	float: left;
	border-right:1px solid gray;
}
.navbarm{
	border-top:1px dotted darkgray;	 
	height: 40px;
	background-color: #272727;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 20px;
}
.navbarm li{
	color: white;
	list-style-type: none;
	text-align: center;
}
.navbarm div{
	width: 13%;
	height: 38px;
	line-height: 40px;
	border-right: 2px solid black; 
	float:left;
}
.navbarm div:hover{
	height: 43px;
	background-color: #161616;
	border-bottom:4px solid darkred;
	border-radius: 2px;
}
.leff{
	width: 66px;
	height: 31px;
	background-color: #FDC351;
	color: black;
}
.midd{
	width: 33px;
	height: 31px;
}
.mi{
background: #2391C1;
color: white;
}

.ri{
background: #4F6A9B;
color: white;
}

.topbt {
	margin-top: 10px;
	float: right;
}

.middt{
	width: 29px;
	height: 29px;
	background-color: #FDC351;
}

p{
	margin-left: -7px;
}

/*********Middle Section STARTS HERE**********/

.st-innerContent {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    margin: 0 0 10px 0;
    overflow: auto;
}

.st-posters {
	width: 278px;
	height: 260px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.st-moviePoster {
	width: 80px;
	height: 120px;
	background: blue;
	margin: 5px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
}

.st-moviePoster img {
	width: 80px;
	height: 120px;
}

.st-movieBadge {
	width: 290px;
	height: 261px;
	padding: 5px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.st-badgeLeft {
	width: 155px;
	height: 251px;
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.st-badgeTitle {
	font: bold 16px Arial, Helvetica, sans-serif;
    color: #870004;
}

.st-badgeTime {
	display: block;
	font: 10px Tahoma, Geneva, sans-serif;
    color: #9c9c9c;
    margin: 0 0 10px;
}

.st-badgeDesc{
	font-size: 10px;
	display: block;
	margin-bottom: 5px;
}
.st-badgeDesc a {
	color: black;
	text-decoration: underline;
}

.st-badgeRight {
	width: 125px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.st-badgeImg {
	width: 125px;
    height: 185px;
}

.st-badgeImg img {
	width: 125px;
    height: 185px;
}

.st-badgeButtons {
	width: 125px;
}

.st-badgeTrailer {
	display: block;
    margin: 0 0 5px;
    text-align: center;
    font: bold 11px Arial, Helvetica, sans-serif;

    border-color: #cccccc;
    color: #6c6c6c;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .5), inset 0px -1px 1px 0px rgba(255, 255, 255, .5), 0px 1px 1px 0px rgba(0, 0, 0, .75);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(187,187,187,1) 100%);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
}

.st-badgeTrailer:hover {
	color: #6c6c6c;
	text-decoration: none;
}

.st-badgeList {
	display: block;
    margin: 0 0 5px;
    text-align: center;
    font: bold 11px Arial, Helvetica, sans-serif;

    border-color: #d7922d;
    color: #975c25;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .5), 0 1px 2px 0px rgba(152, 155, 157, .5);
    background: linear-gradient(to bottom, #fdd661 0%,#fdbd4c 100%);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
}
.st-badgeList:hover {
	color: #975c25;
	text-decoration: none;
}



/*********Side Bar Starts Here****************/

.st-pull-left {
	float: left;
}

.st-pull-right {
	float: right;
}

.st-content {
	width: 620px;
	margin-left: 10px;
	/*background: red;*/
	height: inherit;
}

.st-greyBox {
	border-radius: 5px 5px 0 0;
    padding: 10px 10px 0;
    margin: 0 0 10px;
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(250,250,250,0.55) 45%,rgba(250,250,250,0) 100%);
}

.st-main-header {
	padding: 0 0 0 35px;
	font: bold 12px/15px Arial, Helvetica, sans-serif;
    color: #4e4d4d;
    margin: 5px 0 10px 3px;
    /*position: relative;*/
}

.st-sideBar {
	width: 300px;
	margin-right: 10px;
	/*background: blue;*/
	height: inherit;
}

.st-banner {
	margin: 0 0 20px 0;
}

.st-likeBox{
    margin: 0 0 20px;
    padding: 4px 0 6px 9px;
    border: 1px solid #FDBE4D;
    border-radius: 3px;
    background-color: #e6e6e6;
}

.st-boxWrapper {
    height: 226px;
    width: 278px;
    overflow: hidden;   
}

.st-list-box {
	background-color: #f8f8f8;
    border-top: 3px solid #202222;
    margin: 0 0 20px 0;
}

.st-list-header {
	background-color: #202222;
    display: inline-block;
    padding: 5px 7px;
    color: #FFF;
    font: bold 11px Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

.st-topList {
	margin: 10px 20px;
	padding-bottom:10px;
}

.st-movie {
	overflow: auto;
	list-style-type: none;
    background: white;
    border-bottom: 1px solid #e7e7e7;
}

.st-movie:hover {
	border-bottom: 1px solid #fdbe4d;
}
.st-movie:hover .st-listImg {
	width: 50px;
	height: 50px;
	float: left;
	background:grey;
}

.st-movPlace {
	display: none;
}

.st-movie:hover .st-movPlace {
	display: inline-block;
	color: white;
	font-size: 25px;
}

.st-listImg {
	width: 50px;
	height: 50px;
	float: left;
	background: url("http://kinotap.com/media/profile/movies/1023/top/poster15252131.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
}

.st-listTitle {
	display: inline-block;
	margin: 10px 0 0 10px;
}

.st-listTitle a {
	color: #454545;;
	font: bold 14px Arial, Helvetica, sans-serif;
}

.st-rating {
	display: block;
	font-size: 10px;
	font-weight: normal;
}

.st-news-box {
    border-top: 3px solid #202222;
    margin: 0 0 20px 0;
    overflow: auto;
}

.st-newsList {
	margin: 10px 0;
	padding-bottom:10px;
}

.st-newsSide {
	overflow: auto;
	list-style-type: none;
	margin-bottom: 5px;
}

.st-newsBoxImg {
	float: left;
	width: 85px;
	height: 59px;
	background: red;
	margin-right: 10px;
}

.st-newsSideContent {
	float: right;
	width: 205px;
	height: auto;
}

.st-newsSideContent span {
	display: block;
}
.st-newsSideDate {
	color: #989898;
    font-size: 14px;
    margin: 0 0 2px;
}

.st-newsSideTitle {
	margin: 0;
	padding: 0;
	font-weight: bold;
    text-decoration: underline;
    color: #000;
    font-size: 12px;
}

.st-newsSidePrev {
	font: 11px Tahoma, Geneva, sans-serif;
    color: #000;
    margin: 3px 0 0;
}
/*********Side Bar Ends Here****************/

/*********Middle Section ENDS HERE**********/