*{
	margin: 0;
	padding: 0;
}

body {
	background: #ededed;;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

.main {
	width: 960px;
	margin:10px auto;
}

.header {
	height:110px;
	background-color:#F6A928;
	border-top: 4px solid darkred;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;	
	margin-bottom: 15px;
}

.midSection {
	width: 100%;
	height: 1500px;
	background :#FFFFFF;
	padding: 10px 0 0 0;
}

.footer {
	width: 100%;
	height: 50px;
	background: blue;
}

/**************************************************/

.img img{
	margin-top: 8%;
}
.searchBoxlilk{
	width: 95.096%;
	height: 36px;
	background: white;
	margin-top: 6%;
	float: left;
	border:1px solid darkgray;
}
.searchBox input[type="search"]{
	padding: 10px 133px 5px 10px;
	border:none;
	float: left;
	border-right:1px solid gray;
}
.buttonK{
	background-color: #FDCB58;
	color: #975C25;
	border:1px solid #975C25;
	float: left;
	margin-top: .5px;
	margin-left: .5px;
}
.searchBox select{
	padding: 8.8px 33px;
	border:none;
	float: left;
	border-right:1px solid gray;
}
.navbarm{
	border-top:1px dotted darkgray;	 
	height: 40px;
	background-color: #272727;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.navbarm li{
	color: white;
	list-style-type: none;
	text-align: center;
}
.navbarm div{
	width: 13%;
	height: 38px;
	line-height: 40px;
	border-right: 2px solid black; 
	float:left;
}
.navbarm div:hover{
	height: 43px;
	background-color: #161616;
	border-bottom:4px solid darkred;
	border-radius: 2px;
}
.leff{
	width: 66px;
	height: 31px;
	background-color: #FDC351;
	color: black;
}
.midd{
	width: 33px;
	height: 31px;
}
.mi{
background: #2391C1;
color: white;
}

.ri{
background: #4F6A9B;
color: white;
}

.topbt {
	margin-top: 10px;
	float: right;
}

.middt{
	width: 29px;
	height: 29px;
	background-color: #FDC351;
}

p{
	margin-left: -7px;
}

/*********Middle Section STARTS HERE**********/

.st-pull-left {
	float: left;
}

.st-pull-right {
	float: right;
}

.st-content {
	width: 620px;
	margin-left: 10px;
	/*background: red;*/
	height: inherit;
}

.st-greyBox {
	border-radius: 5px 5px 0 0;
    padding: 10px 10px 0;
    margin: 0 0 10px;
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(250,250,250,0.55) 45%,rgba(250,250,250,0) 100%);
}

.st-main-header {
	padding: 0 0 0 35px;
	font: bold 12px/15px Arial, Helvetica, sans-serif;
    color: #4e4d4d;
    margin: 5px 0 10px 3px;
    /*position: relative;*/
}

.st-sideBar {
	width: 300px;
	margin-right: 10px;
	/*background: blue;*/
	height: inherit;
}

.st-banner {
	margin: 0 0 20px 0;
}

.st-likeBox{
    margin: 0 0 20px;
    padding: 4px 0 6px 9px;
    border: 1px solid #FDBE4D;
    border-radius: 3px;
    background-color: #e6e6e6;
}

.st-boxWrapper {
	/*display: inline-block;*/
    height: 226px;
    width: 278px;
    overflow: hidden;   
}

.st-list-box {
	background-color: #f8f8f8;
    border-top: 3px solid #202222;
    margin: 0 0 20px 0;
}

.st-list-header {
	background-color: #202222;
    display: inline-block;
    padding: 5px 7px;
    color: #FFF;
    font: bold 11px Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}
/*********Middle Section ENDS HERE**********/