.st-pull-left {
	float: left;
}

.st-pull-right {
	float: right;
}

.leftContent {
	width: 620px;
	min-height: 2000px;
	background: yellow;
	margin-left: 10px;
}

.innerContent {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    margin: 0 0 10px 0;
}

.innerContent h1 {
    margin-bottom: 5px;
    font: 18px Tahoma, Geneva, sans-serif;
    color: #ff6600;
}

.article {
    min-height: 250px;
    padding: 15px 0 0 0;
    border-top: 3px solid #202222;
    margin: 0 0 20px 0;
    overflow: auto;
}

.image, .image img {
	width: 300px;
	height: 232px;
}

.articleRight {
	width: 298px;
	padding-left: 15px;
}

.st-news-header {
	font: 20px/28px Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}

.st-news-header a {
	color: black;
}

.st-news-header a:hover {
	text-decoration: underline;
}

.st-time {
    color: #787a7b;
    font-size: 11px;
    display: block;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.st-entry {
    color: #333;
    font: 12px/18px Tahoma, Geneva, sans-serif;
}